## Initial Exploration of the Neuprint Dataset
### How to get Neuron adjacencies, convert the edge list to an adjacency matrix

In [1]:
import neuprint
from neuprint import Client
from neuprint import NeuronCriteria as NC, SynapseCriteria as SC
from neuprint import  fetch_adjacencies, fetch_neurons, fetch_shortest_paths
from neuprint.utils import connection_table_to_matrix, merge_neuron_properties

In [2]:
import numpy as np
import pandas as pd

In [3]:
# fetch_adjacencies(); can add "properties = ['pre', 'post', 'type', 'weight', 'roiInfo']" to get more info
# can use neuprint_ids to get DNp neuron ids

# need to figure out how to get neurons 1-2 hops away (i.e., pre/post synaptic neurons) from DNp neurons
# https://connectome-neuprint.github.io/neuprint-python/docs/quickstart.html#execute-a-query
# ^might be helpful for 1-2 hop away queries

In [4]:
TOKEN = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImtpbmdyaW8zN0BnbWFpbC5jb20iLCJsZXZlbCI6Im5vYXV0aCIsImltYWdlLXVybCI6Imh0dHBzOi8vbGgzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9hL0FHTm15eFpHS3lycDZVeDZPVW9WRXowdEFnQ29UenhkaGpRamp3SVdaNHNaPXM5Ni1jP3N6PTUwP3N6PTUwIiwiZXhwIjoxODYzMTIxNjM3fQ.oTuSwX28PBA4FZTlq5I0gqp4i1_ePeJoMLY5WSh83W8"

c = Client('neuprint.janelia.org', 'hemibrain:v1.2.1', TOKEN)

In [5]:
# DNp01 (giant fiber) to DNp11
body_ids = ["2307027729","5813024015", "1565846637", "1405231475", "1466998977", "5813023322", "1100404581", "1226887763", "1228264951", "512851433", "5813026936", "1281324958"]
DNp_ids = [int(i) for i in body_ids]

In [6]:
# generate adjacency matrix using the 10 DNp neurons as pre/post/pre-post
neuron_df_pre, conn_df_pre = fetch_adjacencies(DNp_ids, None) # DNp neurons as pre
neuron_df_post, conn_df_post = fetch_adjacencies(None, DNp_ids)

neuron_df, conn_df = fetch_adjacencies(DNp_ids, DNp_ids) # DNp neurons as pre/post

In [7]:
conn_df_post.sort_values(by=['weight'], ascending=False)

      bodyId_pre  bodyId_post      roi  weight
6860  1723325539   1405231475  PVLP(R)     236
5114  1535488185   1565846637   PLP(R)     150
688    792326206   5813023322  AVLP(R)     149
681    792326206   2307027729  PVLP(R)     142
689    792326206   5813023322  PVLP(R)     139
...          ...          ...      ...     ...
6017  1630678924   2307027729   WED(R)       1
6013  1630678924   1466998977  PVLP(R)       1
6012  1630678924   1466998977   PLP(R)       1
6011  1630678924   1405231475  PVLP(R)       1
6364  1683406833   1281324958    LO(R)       1

[12682 rows x 4 columns]

In [8]:
# total connection strength (aggregate per-ROI connection weights) between each pair of DNp neurons
totalConn_df_pre = conn_df_pre.groupby(['bodyId_pre', 'bodyId_post'], as_index=False)['weight'].sum()
totalConn_df_post = conn_df_post.groupby(['bodyId_pre', 'bodyId_post'], as_index=False)['weight'].sum()
totalConn_df = conn_df.groupby(['bodyId_pre', 'bodyId_post'], as_index=False)['weight'].sum()

In [9]:
totalConn_df

    bodyId_pre  bodyId_post  weight
0   1100404581   1466998977       1
1   1226887763   1228264951       1
2   1226887763   5813024015       2
3   1228264951   2307027729       1
4   1281324958   1565846637       1
5   1281324958   2307027729       1
6   1405231475   1226887763      13
7   1405231475   5813023322      38
8   1466998977   1281324958       3
9   1466998977   1565846637       1
10  1565846637   1405231475       1
11  1565846637   1466998977       1
12  1565846637   2307027729       1
13  1565846637   5813023322       1
14  2307027729   1281324958       3
15  2307027729   5813023322       2
16  5813023322   1281324958       1
17  5813023322   2307027729       9
18  5813023322   5813024015      10
19  5813024015   1226887763       2
20  5813024015   1405231475       1
21  5813024015   1466998977       2
22  5813024015   2307027729       1

In [10]:
# neuron properties + total connection strength
connection_df_pre = merge_neuron_properties(neuron_df_pre, totalConn_df_pre, ['type', 'instance'])
connection_df_post = merge_neuron_properties(neuron_df_post, totalConn_df_post, ['type', 'instance'])
connection_df = merge_neuron_properties(neuron_df, totalConn_df, ['type', 'instance'])

In [11]:
connection_df

,bodyId_pre,bodyId_post,weight,type_pre,instance_pre,type_post,instance_post
0,1100404581,1466998977,1,DNp07,DNp07_R,DNp05,DNp05_R
1,1226887763,1228264951,1,DNp09,DNp09_R,DNp09,DNp09_R
2,1226887763,5813024015,2,DNp09,DNp09_R,DNp02,DNp02_R
3,1228264951,2307027729,1,DNp09,DNp09_R,Giant Fiber,Giant Fiber_R
4,1281324958,1565846637,1,DNp11,DNp11_R,DNp03,DNp03_R
5,1281324958,2307027729,1,DNp11,DNp11_R,Giant Fiber,Giant Fiber_R
6,1405231475,1226887763,13,DNp04,DNp04_R,DNp09,DNp09_R
7,1405231475,5813023322,38,DNp04,DNp04_R,DNp06,DNp06_R
8,1466998977,1281324958,3,DNp05,DNp05_R,DNp11,DNp11_R
9,1466998977,1565846637,1,DNp05,DNp05_R,DNp03,DNp03_R
10,1565846637,1405231475,1,DNp03,DNp03_R,DNp04,DNp04_R
11,1565846637,1466998977,1,DNp03,DNp03_R,DNp05,DNp05_R
12,1565846637,2307027729,1,DNp03,DNp03_R,Giant Fiber,Giant Fiber_R
13,1565846637,5813023322,1,DNp03,DNp03_R,DNp06,DNp06_R
14,2307027729,1281324958,3,Giant Fiber,Giant Fiber_R,DNp11,DNp11_R
15,2307027729,5813023322,2,Giant Fiber,Giant Fiber_R,DNp06,DNp06_R
16,5813023322,1281324958,1,DNp06,DNp06_R,DNp11,DNp11_R
17,5813023322,2307027729,9,DNp06,DNp06_R,Giant Fiber,Giant Fiber_R
18,5813023322,5813024015,10,DNp06,DNp06_R,DNp02,DNp02_R
19,5813024015,1226887763,2,DNp02,DNp02_R,DNp09,DNp09_R
20,5813024015,1405231475,1,DNp02,DNp02_R,DNp04,DNp04_R
21,5813024015,1466998977,2,DNp02,DNp02_R,DNp05,DNp05_R
22,5813024015,2307027729,1,DNp02,DNp02_R,Giant Fiber,Giant Fiber_R

In [12]:
# can make it square matrix

## these 2 give different outputs?
matrix = connection_table_to_matrix(connection_df, 'bodyId', sort_by='type')
# matrix = connection_table_to_matrix(connection_df, 'type')

/Users/abejey/opt/anaconda3/envs/neuprint/lib/python3.10/site-packages/neuprint/utils.py:304: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  matrix = agg_weights_df.pivot(col_pre, col_post, weight_col)

In [13]:
matrix_pre = connection_table_to_matrix(connection_df_pre, 'bodyId', sort_by='type')
matrix_post = connection_table_to_matrix(connection_df_post, 'bodyId', sort_by='type')

/Users/abejey/opt/anaconda3/envs/neuprint/lib/python3.10/site-packages/neuprint/utils.py:304: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  matrix = agg_weights_df.pivot(col_pre, col_post, weight_col)
/Users/abejey/opt/anaconda3/envs/neuprint/lib/python3.10/site-packages/neuprint/utils.py:304: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  matrix = agg_weights_df.pivot(col_pre, col_post, weight_col)

In [14]:
matrix_pre

bodyId_post,5813070019,1497973422,5813022469,1813089300,1441331113,860910626,1354774257,5813123804,861228990,1533783144,...,1878357588,1971803830,1999156494,5812994077,5813033903,5813038347,5813038546,5813061727,5813067670,5813076242
bodyId_pre,,,,,,,,,,,,,,,,,,,,,
5813024015,2,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1565846637,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1405231475,54,84,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1466998977,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5813023322,36,22,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1100404581,0,0,0,1,1,0,0,0,5,1,...,0,0,0,0,0,0,0,0,0,0
1226887763,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1228264951,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5813026936,0,0,0,2,0,0,0,0,0,0,...,1,1,1,2,3,8,5,1,1,1
512851433,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1281324958,3,3,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2307027729,2,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
matrix_post

bodyId_post,5813024015,1565846637,1405231475,1466998977,5813023322,1100404581,1228264951,1226887763,512851433,5813026936,1281324958,2307027729
bodyId_pre,,,,,,,,,,,,
1324365879,0,0,0,0,3,0,2,2,0,0,1,0
669325882,0,2,0,1,0,1,0,0,1,2,0,0
791527493,0,0,0,1,0,2,0,0,0,2,0,0
5813070019,0,1,0,0,1,0,0,0,0,0,0,4
1497973422,2,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6400000151,12,0,0,0,0,0,0,0,0,0,10,44
6400000641,0,0,0,0,0,0,0,0,0,0,1,0
7112615302,0,0,0,2,0,0,0,0,0,0,0,0
7112615304,0,0,0,2,0,0,0,0,0,0,0,3
7112622763,0,0,0,0,0,0,0,0,0,0,0,2

In [16]:
matrix

bodyId_post,5813024015,1565846637,1405231475,1466998977,5813023322,1226887763,1228264951,1281324958,2307027729
bodyId_pre,,,,,,,,,
5813024015,0,0,1,2,0,2,0,0,1
1565846637,0,0,1,1,1,0,0,0,1
1405231475,0,0,0,0,38,13,0,0,0
1466998977,0,1,0,0,0,0,0,3,0
5813023322,10,0,0,0,0,0,0,1,9
1100404581,0,0,0,1,0,0,0,0,0
1228264951,0,0,0,0,0,0,0,0,1
1226887763,2,0,0,0,0,0,1,0,0
1281324958,0,1,0,0,0,0,0,0,1
2307027729,0,0,0,0,2,0,0,3,0

In [23]:
matrix.shape

(10, 9)

In [17]:
# matrix.to_csv("DNp_matrix.csv")

In [18]:
# 2307027729,5813024015,1565846637,1405231475,1466998977,5813023322,1100404581,1226887763,512851433,1281324958,1228264951,5813026936

In [19]:
fetch_shortest_paths(1565846637, 1228264951)

    path      bodyId     type  weight
0      0  1565846637    DNp03       0
1      0  2062404496   WED072       1
2      0  1228264951    DNp09       3
3      1  1565846637    DNp03       0
4      1  5813055328   WED072       1
5      1  1228264951    DNp09       1
6      2  1565846637    DNp03       0
7      2  1627030775    CL053       1
8      2  1228264951    DNp09       3
9      3  1565846637    DNp03       0
10     3  1103102334  PVLP122       1
11     3  1228264951    DNp09       1
12     4  1565846637    DNp03       0
13     4  1628291400  PVLP024       1
14     4  1228264951    DNp09       1
15     5  1565846637    DNp03       0
16     5  1383383062  PVLP015       1
17     5  1228264951    DNp09       1
18     6  1565846637    DNp03       0
19     6  1135441187  AVLP076       1
20     6  1228264951    DNp09      12
21     7  1565846637    DNp03       0
22     7  5813063093    CL286       1
23     7  1228264951    DNp09       3
24     8  1565846637    DNp03       0
25     8  1166186949  PVLP122       1
26     8  1228264951    DNp09       1

In [20]:
temp = fetch_shortest_paths(1565846637, 1228264951)

In [21]:
print([i for i in temp['bodyId']])

[1565846637, 2062404496, 1228264951, 1565846637, 5813055328, 1228264951, 1565846637, 1627030775, 1228264951, 1565846637, 1103102334, 1228264951, 1565846637, 1628291400, 1228264951, 1565846637, 1383383062, 1228264951, 1565846637, 1135441187, 1228264951, 1565846637, 5813063093, 1228264951, 1565846637, 1166186949, 1228264951]

In [22]:
fetch_shortest_paths(5813024015, 5813023322)

     path      bodyId     type  weight
0       0  5813024015    DNp02       0
1       0  2067153349   SAD031       1
2       0  5813023322    DNp06       8
3       1  5813024015    DNp02       0
4       1   915105429  PVLP076       1
..    ...         ...      ...     ...
205    68  1135441187  AVLP076       1
206    68  5813023322    DNp06     179
207    69  5813024015    DNp02       0
208    69  1785502810  AVLP452       1
209    69  5813023322    DNp06      26

[210 rows x 4 columns]